*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
a{
    text-decoration: none;
}
/* ======== Header Css Strat here ======== */
.container-fluid{
    max-width: 1188px !important;
}
nav{
    background:#ECECEC !important ;
}
nav a{
    color: #212121 !important;
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400px;
}
nav a:hover{
    color: #F57224 !important;
    text-decoration: underline;
}
.header-search-form input {
    border: none;
    width: 90%;
    background:#F5F5F5;
    height: 52px;
    margin: 0;
    padding: 10px;
}
.header-search-form input:focus{
  border: none;
  outline: none;
}
.header-search-form button{
    width: 9%;
    height: 52px;
    border: none;
    color: white;
    margin: 0;
    font-size: 17px;
    background: #F57224;
    margin-left: -4px;
}
.header-logo-search-bar{
    padding:15px 0px;
}
.header-logo{
    width: 120px;
}
.cart-btn svg{
    width: 60px;
    height: 26px;
}
#slider-section{
    background: #F57224;
}
#hot-offer-banner{
    background: #f8f8f8;
}
#hot-offer-banner img{
    width: 90%;
}
#gategori-section{
    padding: 50px 0px;
}
#gategori-section img{
    width: 50px;
}
#gategori-section .col{
    background: #F5F5F5;
    margin: 0px 10px;
    border-radius: 40px;
}
#gategori-section a{
    font-size: 18px;
    font-weight: 500;
}
.flashsale-product{
    background: #F5F5F5;
    
}
.product-info{
    padding: 5px 8px;
}
.product-box{
    background: #F5F5F5;
}
.product-title p{
  font-size: 14px;   
  font-weight: 400;
  line-height: 20px;
}
.product-box:hover{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.product-price h6{
    color: #F57224;
    font-weight: 500;
    font-size: 22px;
    margin-top: 8px;
}
.product-price  p span{
    text-decoration: line-through;
    color: #707070;
}

#daraz-mall-section{
    padding: 50px 0px;
}
#daraz-mall-section .product-box{
    margin: 5px;
    background: rgb(255, 255, 255);
}
#daraz-mall-section .flashsale-product{
    background: rgb(236, 236, 236);
}